@import "./components/header.scss";

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}
.hero{
    color: white;
    height: 100vh;
    width: 100%;
    background-image: url(../img/banner.jpg);
    background-position: center;
    background-size:cover;
    .engranaje{
        margin-left: 20vw;
        margin-top: 25vh;
        width: 80px;
        height: 80px;

        }
    .titulo{
        max-width: 600px;
        font-size: 55px;
        font-weight: 400;
        margin-left: 20vw;
        margin-top: 0;
        margin-bottom: 0;
        
    }
    .subtitulo{
        max-width: 600px;
        margin-left: 20vw;
        margin-top: 0;
        font-size: 52px;
        font-weight: 300;
    }
}

.boton1{
    width: 225px;
    height: 48px;
    background-color: #4b9f2a;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 0 10px;
    align-items: center;
    border: 3px solid white;
    transition: 1s;
    img{
        width: 40px;
        height: 40px;
    }
    a{
        text-decoration: none;
        color: white;
        transition: 1s;
            &:hover{
                color: #00bcd4;
            }
    }
    &:hover{
        transform: scale(1.03);
        border-color:#00bcd4 ;
        color: #00bcd4;
    }
}

.boton2{
    width: 225px;
    height: 48px;
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 12px;
    padding: 0 10px;
    align-items: center;
    border: 3px solid white;
    img{
        width: 40px;
        height: 30px;
    }
    a{
        text-decoration: none;
        color: white;
        transition: 1s;
            &:hover{
                color: #00bcd4;
            }
    }
    transition: 1s;
            &:hover{
                transform: scale(1.03);
                border-color:#00bcd4 ;
                color: #00bcd4;
            }
}

.botones-contacto{
    display: flex;
    margin-left: 20vw;
}

/*Tecnologias*/

.tecnologias{
    width: 100%;
    background-color: #FFFF;
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    h2{
        font-size: 40px;
        font-weight:400;
    }
    .logos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        img{
            width: 85px;
            height: 85px;
            margin: 30px;
            transition: 0.5s;
            &:hover{
                transform:scale(1.2) ;
            }
        }
        .php{
            width: 122px;
            height: 85px;
        }
        
    }
    
}

/*Presupuestos*/

.presupuestos{
    height: 35vh;
    width: 100%;
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .texto-presupuestos{
        font-size: 40px;
        font-weight: 400;
        margin-left: 5vw;
        p{
            margin-top: 0;
            margin-bottom: 0;
        }

    }
}
.boton-contacto{
    width: 140px;
    height: 50px;
    background-color:#00bcd4;;
    margin-right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    a{
        color: #ffff;
        list-style: none;
        text-decoration: none;
        font-size: 20px;
    }
    &:hover{
        background-color:dimgrey;
    }

}

/*Quines somos*/
.quienes-somos{
    margin: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;


    .texto-quienesomos{
        margin-right: 11vw;
        h2{
            font-size: 40px;
            font-weight: 400;
        }
        p{
            font-size: 20px;
            color: gray;
        }
        
    }
}

/*Mision y vision*/
.mision-vision{
    margin: 5vw;
    display: flex;
    justify-content: space-around;
    align-items: center;


    .texto-mision{
        margin-left: 8vw;
        h2{
            font-size: 40px;
            font-weight: 400;
        }
        p{
            font-size: 20px;
            color: gray;
        }
        
    }
}

/*Servicios*/
.servicios{
    width: 100%;
    background-color: #f8f9fa;
    div{
        h2{
            text-align: center;
            font-size: 50px;
            font-weight: 400;
        }
        .tarjetas {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            
            div{
                width: 300px;
                background-color: #ffff;
                padding: 20px;
                font-size: 20px;
                border-radius: 10px;
                transition: 0.5s;
                img{
                    width: 70px;
                    height: 70px;
                }
                p{
                    color: gray;
                }
                h3{
                    font-size: 25px;
                    font-weight: 400;
                }
                &:hover{
                    transform: scale(1.05);
                }
    
            }
    
        }
    }
    
}